{% extends 'mainpage/base.html' %}
{% block content %}

<div class="flex-container">

    <div class="flex-box photo">
        
        <a href="https://www.youtube.com/playlist?list=PLu71SKxNbfoBsMugTFALhdLlZ5VOqCg2s" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">
            <!-- <a href="{% url 'python' %}" target="_blank" rel="noopener noreferrer" style="cursor: pointer;"> -->
            <img src="https://i.ytimg.com/vi/Ca5DLSDfPec/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBsJ4X5vpB_gv8kREBZ92mwrwlT8w" alt="" srcset="">
           </a>
     </div>
 
<ol>
      {% for video in videos %}
<li>
    <a href="{{ video.link }}">{{ video.name }}</a></li>
{% endfor %}
</ol>
</div>

{% endblock content %}